
.carrossel_prog {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.carrossel_prog .carousel-control-prev span {
  background-color: #262626;
  padding: 10px;
  height: 50px;
  margin-right: 300px;
  margin-top: -30px;
  font-size: 10px;
}

.carrossel_prog .carousel-control-next span {
  background-color: #262626;
  padding: 10px;
  height: 50px;
  margin-left: 300px;
  margin-top: -30px;
  font-size: 10px;
}


.carrossel_prog .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .carrossel_prog .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .carrossel_prog .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    text-align: center;
  }
  .carrossel_prog .carousel-inner {
    padding: 1em;
  }

  .proga-datas {
    margin-bottom: 20px;
  }

  .proga {
    font-size: 50px;
  }






  @media only screen and (max-width: 460px) {

    .carrossel_prog {
      width: 75%;
    }

    .carrossel_prog .carousel-control-prev span {
      padding: 12px;
      margin-right: 80px;
    }

    .carrossel_prog .carousel-control-next span {
      padding: 12px;
      margin-left: 80px;
    }


  }

  @media only screen and (min-width: 461px) and (max-width: 575px) {

    .carrossel_prog {
      width: 75%;
    }

    .carrossel_prog .carousel-control-prev span {
      padding: 12px;
      margin-right: 90px;
    }

    .carrossel_prog .carousel-control-next span {
      padding: 12px;
      margin-left: 90px;
    }

    .proga {
      font-size: 35px;
    }

    .proga-datas {
      margin-bottom: 30px;
    }

  }

  
  @media only screen and (min-width: 576px) and (max-width: 767px) {

    
    .carrossel_prog {
      width: 70%;
      margin-bottom: 250px;
    }

    .carrossel_prog .carousel-control-prev span {
      padding: 15px;
      margin-right: 160px;
    }

    .carrossel_prog .carousel-control-next span {
      padding: 15px;
      margin-left: 160px;
    }

    .proga {
      font-size: 45px;
    }

    .proga-datas {
      margin-bottom: 30px;
    }

  }

  @media only screen and (min-width: 767px) and (max-width: 950px) {

    .carrossel_prog {
      width: 80%;
      margin-bottom: 200px;
    }

    .carrossel_prog .carousel-control-prev span {
      padding: 15px;
      margin-right: 160px;
    }

    .carrossel_prog .carousel-control-next span {
      padding: 15px;
      margin-left: 160px;
    }

    .proga {
      font-size: 50px;
    }

    .proga-datas {
      margin-bottom: 30px;
    }


  }